.nav-link {
  color: #0e0d0d !important;
  margin-right: 25px !important;
  margin-left: 5px !important;
  font-weight: bold !important;
  transition: 0.7s !important;
  border-bottom: 2px solid #ffffff !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav-link:hover {
  color: #cf2424 !important;
  opacity: 0.9 !important;
  display: block !important;
  border-bottom: 2px solid #cf2424 !important;
}
nav {
  background-color: #fff !important;
  border-bottom: 2px solid #000000 !important;
}

@media screen and (max-width: 769px) {
  .nav-link {
    padding-right: 0px !important;
    margin-right: 0px !important;
    text-align: right !important;
  }
  ul {
    padding-right: 0px !important;
    margin-right: 0px !important;
  }
  .top-ul {
    margin-top: 10px !important;
  }
}
