.border-top-black {
  border-top: 2px solid #000000 !important;
  width: 100px !important;
}
.bg-light {
  background-color: #bdbcbc2d !important;
}
.f-19 {
  font-size: 19px !important;
}
.f-19 {
  font-size: 19px !important;
}
